doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title Trang chủ
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet")
    link(href="assets/css/style.css" rel="stylesheet")
    script(src="assets/js/main.js" defer)
  body
    include ../mixins/mixins.pug

    .top-header
      .container
        .inner-wrap
          .inner-item
            i.fa-solid.fa-phone
            | Hotline: 0123.456.789
          .inner-item
            i.fa-solid.fa-envelope
            | contact@lattecinema.com

    header.header
      .container
        .inner-wrap
          a.inner-logo(href="#")
            img(alt="" src="assets/images/logo1.svg")
          nav.inner-menu
            ul
              li
                a(href="#") Phim
                ul
                  li
                    a(href="#phim-dang-chieu") Phim đang chiếu
                  li
                    a(href="#phim-sap-chieu") Phim sắp chiếu
              li
                a(href="#") Mua vé
              li
                a(href="#") Vé của tôi
              li
                a(href="#") Rạp phim
          .inner-login
            i.fa-solid.fa-circle-user
            #openBtn Đăng nhập/Đăng kí
            
            #registerModal.hidden
              #overlay
              .modal-content
                span#closeBtn ×
                .modal-header
                  #loginTab.tab.active ĐĂNG NHẬP
                  #registerTab.tab ĐĂNG KÝ
                .modal-body
                  form#loginForm
                    .form-group
                      label Nhập số điện thoại
                      input(placeholder="Số điện thoại" type="text")
                    label Mật khẩu
                    .password-wrapper
                      input(placeholder="Mật khẩu" type="password")
                      i.fa-solid.fa-eye.toggle-password
                    button.submit-btn(type="button") ĐĂNG NHẬP
                  form#registerForm.hidden
                    .form-group
                      label
                        | Tên
                        span *
                      input(placeholder="Tên" type="text")
                    .form-group
                      label
                        | Số điện thoại
                        span *
                      input(placeholder="Số điện thoại" type="text")
                    .form-group
                      label
                        | Email
                        span *
                      input(placeholder="Email" type="email")
                    .form-group
                      label
                        | Mật khẩu
                        span *
                      .password-wrapper
                        input(placeholder="Mật khẩu" type="password")
                        i.fa-solid.fa-eye.toggle-password
                    .form-group
                      label
                        | Ngày sinh
                        span *
                      input.date-input(type="date")
                      .gender-group
                        label.gender-item
                          input(name="gender" type="radio")
                          span *
                          | Nam
                        label.gender-item
                          input(name="gender" type="radio")
                          | Nữ
                    button.submit-btn(type="button") ĐĂNG KÝ

    section.section-1
      .inner-head
        h2.inner-title Phim Hot hôm nay
      .inner-wrap
        .slider-wrapper
          .slide
            img(alt="Banner 1" src="assets/images/banner-3.jpg")
          .slide
            img(alt="Banner 1" src="assets/images/banner-4.jpg")
          .slide
            img(alt="Banner 1" src="assets/images/banner-5.jpg")
        button.slider-btn.prev-btn
          i.fa-solid.fa-chevron-left
        button.slider-btn.next-btn
          i.fa-solid.fa-chevron-right
        .slider-dots

    section.section-2#phim-dang-chieu
      .container 
        .inner-wrap 
          .inner-title 
            h2 Phim đang chiếu
          .inner-list 
            -
              var nowShowing = [
                {
                  imgSrc: 'assets/images/img-item-1.jpg',
                  title: 'Không còn chúng ta',
                  genre: 'Tình cảm',
                  time: '120p',
                  date: '10/2/2026'
                },
                {
                  imgSrc: 'assets/images/img-item-2.jpg',
                  title: 'Tài',
                  genre: 'Hành động',
                  time: '101p',
                  date: '06/03/2026'
                },
                {
                  imgSrc: 'assets/images/img-item-3.jpg',
                  title: 'Tài',
                  genre: 'Hành động',
                  time: '101p',
                  date: '06/03/2026'
                },
                {
                  imgSrc: 'assets/images/img-item-4.jpg',
                  title: 'Tài',
                  genre: 'Hành động',
                  time: '101p',
                  date: '06/03/2026'
                },
                {
                  imgSrc: 'assets/images/img-item-5.jpg',
                  title: 'Tài',
                  genre: 'Hành động',
                  time: '101p',
                  date: '06/03/2026'
                }
              ]
            each movie in nowShowing
              +productItem(movie.imgSrc, movie.title, movie.genre, movie.time, movie.date)

    section.section-3#phim-sap-chieu
      .container 
        .inner-wrap 
          .inner-title 
            h2 Phim sắp chiếu
          .inner-list 
            -
              var comingSoon = [
                {
                  imgSrc: 'assets/images/img-item-1.jpg',
                  title: 'Kẻ Trộm Mặt Trăng',
                  genre: 'Hoạt hình',
                  time: '95p',
                  date: '15/03/2026'
                },
                {
                  imgSrc: 'assets/images/img-item-2.jpg',
                  title: 'Mai',
                  genre: 'Tâm lý',
                  time: '130p',
                  date: '20/03/2026'
                }
              ]
            each movie in comingSoon
              +productItem(movie.imgSrc, movie.title, movie.genre, movie.time, movie.date)

    footer.footer
      .container
        .inner-wrap-1
          .inner-title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
          form.inner-form(action="")
            input(type="text" placeholder="Nhập email của bạn...")
            button Đăng ký ngay
        .inner-wrap-2
          ul.inner-links
            li
              a(href="#") Trang Chủ
            li
              a(href="#") Mua vé
            li
              a(href="#") Vé của tôi
            li
              a(href="#") Rạp phim
          ul.inner-socials
            li
              a(href="#" target="_blank")
                i.fa-brands.fa-facebook
            li
              a(href="#" target="_blank")
                i.fa-brands.fa-x-twitter
            li
              a(href="#" target="_blank")
                i.fa-brands.fa-instagram
            li
              a(href="#" target="_blank")
                i.fa-brands.fa-youtube
        .inner-wrap-3
          .inner-copyright © 2026 LatteCinema. All rights reserved.
          a.inner-logo(href="#")
            img(src="assets/images/logo1.svg" alt="LatteCinema")
          ul.inner-links
            li
              a(href="#") Điều khoản dịch vụ
            li
              a(href="#") Chính sách bảo mật

    ul.box-contact
      li
        a(href="#" target="_blank")
          i.fa-brands.fa-facebook-f
      li
        a(href="#" target="_blank")
          i.fa-brands.fa-instagram
      li
        a(href="#" target="_blank")
          i.fa-brands.fa-whatsapp
      li
        a(href="#" target="_blank")
          i.fa-brands.fa-youtube